@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
  background-color: gray;
  background-size: 100% auto;
  font-family: 'Proxima Nova', 'Helvetica', sans-serif;
}
body > .grid {
  height: 100%;
}
.competency-table {
  margin-left:50px;
  margin-right:50px;
  vertical-align:right;
  overflow-x:scroll;
}
.individual-competency-table{
  overflow-y:scroll;
  max-height: 850px;
}
.body-wrapper{
  margin-top: -25%;
  max-height: 50px;
}
.login-form{
  margin-left:200px;
  margin-right:200px;
}
ul {
 list-style: none;
}
.header{
  font-size: 50px;
}