{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}

{% load starlight_extras %}

<h1 class="ui black image header">
    <div class="content">
        {% trans "Knowledge Table" %}
    </div>
</h1>

<div class="competency-table">
    <table class="ui inverted center aligned black table">
        <thead>
        <tr>
            <td></td>
            <th colspan="{{skills|length}}" align="center">Skill</th>
        </tr>
        <tr>
            <th>Employee</th>
            {% for skill in skills %}
            <td align="center">
                {{skill.name}}
            </td>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for employee in employees %}
        <tr>
            <th align="center">{{employee}}</th>
            {% for skill in skills %}
                {% if not skill|search:employee.competencies.all %}
                    <td>
                        -
                    </td>
                {% else %}
                    {% for employee_competency in employee.competencies.all %}

                    {% if skill == employee_competency.skill %}
                    <td>
                        {{ employee_competency.get_interest_display }}, {{ employee_competency.get_experience_display }}
                    </td>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}