{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}

{% load starlight_extras %}

<div class="ui competency-container">
  <h1 class="ui black header">{% trans "Knowledge Table" %}</h1>

<h1 class="ui black header">Filter by team: </h1>

<form action="." method="post" class="ui small form" id="team_filter_form">
    {% csrf_token %}
    <div class="field">
        <select class="ui selection dropdown" name="name" id="name">
              <option value=""> </option>
              {% for key, teams_choice in form.fields.name.choices %}
                  <option value="{{ key }}"
                          {% if form.name.value == key %} selected {% endif %}> {{ teams_choice }}
                  </option>
              {% endfor %}
                  <option value="unassigned"> Unassigned </option>
        </select>
    </div>
    <button class="ui fluid large blue search button" type="submit" value="Submit">Filter</button>
</form>

  <div class="competency-table">
    <table class="ui inverted center aligned black table">
      <thead>
        <tr>
          <th colspan="{{skills|length}}" align="center">{% trans "Skills" %}</th>
        </tr>
        <tr>
          <th>Employee</th>
          {% for skill in skills %}
          <td align="center">
            {{skill.name}}
          </td>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for employee in employees %}
          <tr>
            <th align="center">{{employee}}</th>
            {% for skill in skills %}
              {% if not skill|search:employee.competencies.all %}
                <td>
                    -
                </td>
              {% else %}
                {% for employee_competency in employee.competencies.all %}
                  {% if skill == employee_competency.skill %}
                    <td>
                      {{ employee_competency.get_interest_display }}, {{ employee_competency.get_experience_display }}
                    </td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
