{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block content %}

<div class="ui center aligned container grid">
  <div class="six wide column">
    <h1 class="ui black header">{% trans "New Employee" %}</h1>

    <form action="." method="post" class="ui large form" id="employee_form">
        {% csrf_token %}
        <div class="field">
          <input name="username" id="username" type="text" placeholder="Username">
        </div>
        <div class="field">
          <input name="password1" id="password1" type="password" placeholder="Password">
        </div>
        <div class="field">
          <input name="password2" id="password2" type="password" placeholder="Confirm Password">
        </div>
        <div class="field">
          <input name="email" id="email" type="email" placeholder="Email">
        </div>
        <div class="field">
          <input name="first_name" id="first_name" type="text" placeholder="First Name">
        </div>
        <div class="field">
          <input name="last_name" id="last_name" type="text" placeholder="Last_name">
        </div>
        <button class="ui fluid large blue button" type="submit" value="Submit">Create</button>
        {{ form.errors }}
    </form>
  </div>
</div>


{% endblock %}
