{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}{% trans "Team" %}{% endblock %}

{% block content %}


<div class="ui center aligned grid container">
  <div class="ten wide column">
    <h1 class="ui black header">
      {% trans "Team: " %}
      {{ team.name }}
      <br>
      {{ team.description }}
    </h1>

    <div class="team-table">
      <table class="ui inverted center aligned fluid black table">
        <thead>
          <tr>
            <th>Members</th>
          </tr>
        </thead>

        <tbody>
          {% for employee in employees.all %}
            <tr>
              <td>
                <button class="ui fluid large blue button" onclick="location.href='{% url 'profile' id=employee.id %}'">{{ employee }}</button>
                  {% if 'starlight.can_change_user' in perms and 'starlight.can_change_team' in perms %}
                    <button class="ui fluid small red button" onclick="location.href='{% url 'remove_from_team' team=team.id id=employee.id  %}'">Remove</button>
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if 'starlight.can_change_team' in perms %}
          <button class="ui fluid small blue button" onclick="location.href='{% url 'edit_team' id=team.id %}'">Edit Team</button>
      {% endif %}
    </div>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>
{% endblock %}
