{% load i18n %}
{% load render_bundle webpack_static from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    {% render_bundle 'vendor' 'css' 'VENDOR' %}
    {% render_bundle 'app' 'css' 'DEFAULT' %}

    <title>Starlight</title>
  </head>

  <body>
    <div class="ui top borderless inverted main menu">
      <a class="{% ifequal viewgroup 'home' %}active blue{% else %}black{% endifequal %} item" href="{% url 'home' %}"> Home </a>
      <a class="{% ifequal viewgroup 'all_profiles' %}active blue{% else %}black{% endifequal %} item" href="{% url 'all_profiles' %}">Individual Pages</a>
      {% if user.is_authenticated %}
        <a class="{% if viewgroup == 'profile' %}active blue item{% else %}black item{% endif %}" href="{% url 'profile' id=user.id %}"> {{user.username}} </a>
        <a class="black item" href="{% url 'logout' %}"> Logout </a>
      {% else %}
        <a class="black item" href="{% url 'login' %}"> Login </a>
      {% endif %}
    </div>

    {% block content %}
    {% endblock %}

    {% render_bundle 'vendor' 'js' 'VENDOR' %}
    {% render_bundle 'app' 'js' 'DEFAULT' %}
  </body>
</html>
