<!DOCTYPE html>
{% load i18n %}
{% load render_bundle webpack_static from webpack_loader %}
{% load static %}
<html>
<head>
    <meta charset="UTF-8">

    {% render_bundle 'main' 'css' %}

    <title>Starlight</title>

    <div class="ui inverted menu">

        <a class="{% ifequal viewname 'home' %}active blue item{% else %}black item{% endifequal %}" href="{% url 'home' %}"> Home </a>
        <a class="black item">Individual Pages</a>
        <a class="{% ifequal viewname 'login' %}active blue item{% else %}black item{% endifequal %}" href="{% url 'login' %}"> Login </a>
        <a class="black item">Logout</a>
    </div>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>

<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        {%block content%}{%endblock%}
    </div>
</div>
</body>
</html>
