{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block content %}

<div class="ui center aligned container grid">
  <div class="six wide column">
    <h1 class="ui black header">{% trans "Change Password: " %} {{ employee }}</h1>

    <form action="." method="post" class="ui large form" id="employee_edit_password">
        {% csrf_token %}
        <div class="field">
          <input name="old_password" id="id_old_password" type="password" placeholder="Old Password">
            <div class="errors">
                {{ form.old_password.errors }}
            </div>
        </div>
        <div class="field">
          <input name="new_password1" id="id_new_password1" type="password" placeholder="New Password">
            <div class="errors">
                {{ form.new_password1.errors }}
            </div>
        </div>
        <div class="field">
          <input name="new_password2" id="id_new_password2" type="password" placeholder="Password (again)">
            <div class="errors">
                {{ form.new_password2.errors }}
            </div>
        </div>
        <button class="ui fluid large blue button" type="submit" value="Submit">Save</button>
    </form>
  </div>
</div>


{% endblock %}
