{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block content %}

    <h1 class="ui black image header">
        <div class="header">
            New Competency
        </div>
    </h1>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

    <div class="ui form">
        <form action="." method="post" class="ui large form" id="competency_form">

            {% csrf_token %}
            <h1 class="ui black image header">
                <div class="content">
                    {% csrf_token %}
                    <select class="ui selection dropdown" name="skill" id="skill">
                        {% for key, skill_choice in form.fields.skill.choices %}
                            <option value="{{ key }}"> {{ skill_choice }}</option>
                        {% endfor %}
                    </select>
                    <br> <br>
                    <select class="ui selection dropdown" name="interest" id="interest">
                        {% for key, interest_choice in form.fields.interest.choices %}
                            <option value="{{ key }}"> {{ interest_choice }}</option>
                        {% endfor %}
                    </select>
                    <br> <br>
                    <select class="ui selection dropdown" name="experience" id="experience">
                        {% for key, experience_choice in form.fields.experience.choices %}
                            <option value="{{ key }}"> {{ experience_choice }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <script type="text/javascript" src="/static/js/main.js"></script>
                </div>
                <button class="ui fluid large blue button" type="submit" value="Submit">Save</button>
            </h1>
        </form>
    </div>


{% endblock %}