{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block content %}

<div class="ui center aligned grid container">
  <div class="ten wide column">
    <h1 class="ui black header">
      {% if user == employee %}
        {% trans "Your Competencies: " %}
      {% else %}
        {{ employee }}'s Competencies:
      {% endif %}
    </h1>

    <div class="individual-competency-table">
      <table class="ui inverted center aligned fluid black table">
        <thead>
          <tr>
            <th>Skill</th>
            <th>Interest</th>
            <th>Experience</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for competency in employee.competencies.all %}
            <tr>
              <td>
                {{competency.skill}}
              </td>
              <td>
                {{competency.interest}}. {{competency.get_interest_display}}
              </td>
              <td>
                {{competency.experience}}. {{competency.get_experience_display}}
              </td>
              <td>
                {% if 'starlight.can_change_user' in perms or user == employee %}
                    <button class="ui fluid small blue button" onclick="location.href='{% url 'edit_competency' employee=employee.id id=competency.id %}'">Edit</button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <br />
    {% if 'starlight.can_change_user' in perms or user == employee %}
        <button class="ui fluid large blue button" onclick="location.href='{% url 'new_competency' employee=employee.id%}'">New Competency</button>
    {% endif %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>
{% endblock %}
